<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/booktest/jquery-1.12.4.min.js"></script>
    <script>
        $(function () {
            //查询省信息
            pro = $('#pro')
            $.get('/area/0/',function (dic) {// {data: [],[],[]...}
                $.each(dic.data, function (index, item) {// item = [id, title]  index 是索引
                    pro.append('<option value="'+item[0]+'">'+item[1]+'</option>')
                });
            });
        });

    </script>
</head>
<body>
<select name="" id="pro">
    <option value="">请选择省</option>
</select>
<select name="" id="city">
    <option value="">请选择市</option>
</select>
<select name="" id="dis">
    <option value="">请选择区</option>
</select>
</body>
</html>